@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f9fafb;
  --color-background-muted: #e5e7eb;
  --color-text: #1f2937;
  --color-text-muted: #6b7280;

  --color-accent: #ea580c;
  --color-accent-muted: #fb923c;
  --color-accent-hover: #c2410c;
  --color-accent-text: #7c2d12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1f2937;
    --color-background-muted: #374151;
    --color-text: #f9fafb;
    --color-text-muted: #d1d5db;

    --color-accent: #84cc16;
    --color-accent-muted: #bef264;
    --color-accent-hover: #65a30d;
    --color-accent-text: #365314;
  }
}

.prose ul > li::before {
  background-color: var(--color-accent-muted) !important;
}
