.slide-track {
  animation: slider 20s linear infinite;
  width: calc(320px * 10);
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-320px * 5));
  }
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgb(250, 218, 56),
    rgb(51, 255, 119),
    rgb(51, 187, 255)
  );
}
